@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #EEEEEE;
  --foreground: #111111;
  --card: #f9fafb;
  --border: #e5e7eb;
}

.dark {
  --background: #0f172a;
  --foreground: #e5e7eb;
  --card: #111827;
  --border: rgba(255, 255, 255, 0.08);
}